<div class="form-group-lg" id="searchBar">
  <div class="input-group" (keyup.enter)="search()">
    <input type="text" class="form-control" [(ngModel)]="queryTerm" (keyup)="autocomplete()" placeholder="Search ...">
    <span class="input-group-btn">
            <button (click)="search()" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
  </div>
  <div class="pull-right"><input type="checkbox" [(ngModel)]="keepFilters"/>Keep my filters</div>
  <span *ngIf="showAutoComplete">
    <ul class="list-group">
      <div *ngFor="let item of responseObjects">
      <a class="list-group-item list-group-item-action" (click)="search2(item)"> <span
        class="glyphicon glyphicon-search"></span> {{ item }}</a>
      </div>
    </ul>
  </span>
</div>

